scripts=[\
"
# This Repoinit Script is here to make sure that during an upgrade the necessary users
# and permissions are available

# Create the Folders for Dynamic Components

    create path /conf(sling:Folder)
    create path /conf/wknd(sling:Folder)
    create path /conf/wknd/settings(sling:Folder)
    create path /conf/wknd/settings/dynamic(sling:Folder)

# Create the Service User needed for Dxml

    create service user dynamic-serviceuser with path /home/users/system/dynamic

# Set Permission for Dynamic Components Service User

    set ACL for dynamic-serviceuser
        allow jcr:read on /
        allow jcr:all on /conf/wknd/settings/dynamic
    end

"\
]

references=[]